html{
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
}

#container{
    height: 600px;
    width: 750px;
    background-color: #9DD2EA;
    padding: 30px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #009de4;
    position: relative;    
}

#score{
    background-color: #F1FF92;
    color: #888E5F;
    padding: 11px;
    position: absolute;
    left: 700px;
    box-shadow: 0px 4px 0px #9da853;

}

#correct{
    position: absolute;
    left: 400px;
    background-color: #42e252;
    color: white;
    padding: 11px;
    display: none;
}

#wrong{
    position: absolute;
    left: 250px;
    background-color: #42e252;
    color: white;
    padding: 11px;
    display: none;
}

#question{
    width: 650px;
    height: 250px;
    background-color: #9DA0EA;
    margin: 50px auto 10px auto;
    font-size: 180px;
    text-align: center;
    font-family: cursive,sans-serif;
    color: black;    
}

#instruction{
    width: 650px;
    height: 70px;
    background-color: #B481D9;
    margin: 10px auto auto;
    font-size: 30px;
    text-align: center;
    padding: 20px auto;
    line-height: 45px;
    box-shadow: 0px 4px #8153a8;

}
#choices{
    width: 650px;
    height: 100px;
    margin: 10px auto;
    
}

.box{
    width: 120px;
    height: 120px;
    background-color: white;
    float: left;
    margin-right: 40px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    font-size: 40px;
    text-align: center;
    line-height: 90px;
    position: relative;
    transition: all 0.2s;

    
}



.box:hover, #startreset:hover{
    background-color: #009de4;
    color: white;
    box-shadow: 0px 4px #6b54d3;

}

.box:active, #startreset:active{
    box-shadow: 0px 0px #6b54d3;
    top: 4px;
    
}

#box4{
    margin-right: 0;
}

#startreset{
    width: 100px;
    background-color: rgba(255,255,255,0.5);
    padding: 10px 10px;
    margin: 40px auto;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    transition: all 0.2s;
}

#timeremaining{
    

} 


