html{
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
}

#container{
    height: 500px;
    width: 750px;
    background-color: #9DD2EA;
    padding: 30px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #009de4;
    position: relative;    
}

#score{
    background-color: #F1FF92;
    color: #888E5F;
    padding: 11px;
    position: absolute;
    left: 700px;
    box-shadow: 0px 4px 0px #9da853;

}

#correct{
    position: absolute;
    left: 400px;
    background-color: #42e252;
    color: white;
    padding: 11px;
    display: none;
}

#wrong{
    position: absolute;
    left: 250px;
    background-color: #42e252;
    color: white;
    padding: 11px;
    display: none;
}
