html{
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
}

#container{
    height: 500px;
    width: 750px;
    background-color: #9DD2EA;
    padding: 30px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #009de4;

}

#score{
    background-color: #F1FF92;
    color: ;
}